.container {
    padding: 1rem;
    margin-bottom: 3.2rem;
    margin-top: 2rem;
}

.person-container {
    border-top: 1px solid #3986B7;
}

.listContainer {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 200px;
    margin-top: 10px;
    line-break: auto;
    left: 50%;
    border-bottom: 0.1rem solid #3986B7;
    overflow-x: hidden;
}

.listContainer h4 {
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}

.thumb {
    max-width: 100px;
    max-height: 200px;
    // margin-right: 1rem;
}

.dropdown-menu {
    width: 100%;
    padding: 0.6rem 0.6rem;
    background-color: #FEFED8;
    background-image: linear-gradient(#FEFED8, #EEC0A3);
}

.modal {
    position: absolute;
    margin: auto;
    padding: 1rem;
    max-width: 80%;
    max-height: 100%;
    z-index: 2;
    background-color: #ccc;

    a {
        position: relative;
        left: 90%;
        right: 0;
        top: 0;
    }
}

.error {
    padding: 1rem;
    background-color: #ff3f34;
    border: 1px solid #ff1134;
    text-align: center;
}

.map {
    height: 400px;
    width: 100%;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}

.image-center {
    margin: 0.1rem auto;
    max-width: 100%;
    vertical-align: middle;
}

.slide-in {
    animation: moveFromRight 0.4s ease both;
}

@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}
