/* varibales.scss */

$fontColor: #333;
$fontHeader: 'Roboto', sans-serif;
$fontBody: 'Roboto', sans-serif;
$defaultSize: 1rem;
$lineHeight: 1.4;
$magicNumber: $defaultSize * $lineHeight;
$textPadding: 0.7rem;
